<!DOCTYPE html>
<html>

<head>
    <title>Home - Cheav Por Chea Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div>
        <h1>C.P. Chea's Blog</h1>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Publications <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="/pub_robotic">Robotic Construction</a>
                        <a href="/pub_structure">Structural Engineering</a>
                        <a href="/pub_seismic">Seismic Engineering</a>
                    </div>
                </div>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/awards">Honors & Awards</a></li>
                <li><a href="/documentations">Documentations</a></li>
                <li><a href="/about">About Me</a></li>
            </ul>
        </nav>
    
    <div class="background-container">
        <div>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/69mJ5CEKS80"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="text-content">
            <h2>Robotic Construction For Reciprocal Frame Structure</h2>
            <p>This research focuses on developing and implementing robotic technologies in the construction of Reciprocal Frame (RF) structures, which are self-interlocking and efficient in assembly. The study began with the development of mathematical approaches for forming RF structures and calculating internal forces in their components, using pultruded glass fibre reinforced polymers (GFRP). Experimental and finite element analysis revealed that an RF structure of specific dimensions had a significant load capacity while maintaining a low weight.</p>
            <p>The research then progressed to robotize the assembly of these structures in a laboratory environment. Design for Robotic Construction (DfRC) strategies were introduced, including the use of temporary connections and supports to facilitate robotic assembly. The <a href="https://github.com/cheacheavpor/robotic_system_for_RF_structure.git">robotic system</a> developed includes mobile robots, robotic arms, depth cameras, LiDAR systems, and grippers. Programming modules were created for geometric form-finding, robotic operation, and collaboration.</p>
            <p>Key aspects of robotic operation, such as navigation and component targeting, were developed using SLAM and AprilTag algorithms, enhancing precision and efficiency. The result was the successful completion of the structural construction by the robotic system, demonstrating the feasibility and effectiveness of robotization in building RF structures.</p>
        </div>
    </div>

    <div class="background-container">
        <div>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/RBxy8IXPTz4?si=fSoDB9KLnrhpns5O"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-content">
            <h2>Site activities assisted by construction robots</h2>
            <p>This research focuses on developing and optimising methods for locating robots in path-undefined construction sites and enhancing the reliability of robotic navigation algorithms across various construction site configurations and environments.</p>
        </div>
    </div>

    <div class="background-container">
        <div>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/xt2ayJi6GDc"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-content">
            <h2>Paving robot</h2>
            <p>This research focuses on developing and implementing robotic technologies in the pedestrian path paving project. The model-based tracking method is adopted to target a brick from the brick stack.</p>
        </div>
    </div>


    <div class="background-container">
        <div>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/aCy1feA8MM8"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-content">
            <h2>Human–Robot Trust Study</h2>
            <p>This study explores the development of trust between humans and robots, and aims to determine the radius of personal comfort zones during human–robot interactions.</p>

        </div>
    </div>
    

</body>
</html>
